.DS_Store
.Rhistory
__pycache__/
*.pyc
*.pyo

ccat_mapmaker_AY/
ccat_mapmaker/output/
ccat_mapmaker/notebooks/*
!ccat_mapmaker/notebooks/pointing_reconstruction.ipynb
external/
initial_readings/
logbook.md
paper/
simulation_data_from_ankur/
